<div class="market_news blog_list">
    <h4>Blogs</h4>

    <div class="media" *ngFor="let post of latestBlog">
      <div class="media-left">
        <img src="assets/images/market_image.png" class="img-fluid mr-3">
      </div>
      <div class="media-body">
        <h6 class="pb-2">By <a href="javascript:void(0)">Arron</a>    <i class="far fa-clock ml-2"></i> 10 June   <i class="far fa-comment ml-2"></i> 15</h6>
        <p>Nulla consequat massa donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
      </div>
    </div>
</div>
