


      <div class="row">
        <div class="col-md-8 pt-4">
          <img src="assets/images/google_ads1.png" class="img-fluid w-100">

          <app-comments [stock]="stock"></app-comments>

        </div>
        <div class="col-md-4 pt-4">
          <img src="assets/images/google_ads.png" class="img-fluid w-100">
          <!--get trending stock-->
          <app-sidebar-trending-stocks></app-sidebar-trending-stocks>

          <div class="py-4"><img src="assets/images/google_ads.png" class="img-fluid w-100"></div>
          <!--get company market news-->
          <app-sidebar-market-news></app-sidebar-market-news>
        </div>
      </div>


  <script>

var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope) {

    $scope.myVar = false;
    $scope.toggle = function() {
        $scope.myVar = !$scope.myVar;
    };
});

  </script>
