

      <div class="row">
        <div class="col-md-8 pt-4">
          <img src="assets/images/google_ads1.png" class="img-fluid">
          <div class="watchlist mt-4">
            <h3>About Us</h3>

             <div class="trending_stocks_list">

            </div>

          </div>

        </div>
        <div class="col-md-4 pt-4">
          <img src="assets/images/google_ads.png" class="img-fluid">

          <app-sidebar-market-news></app-sidebar-market-news>

          <div class="py-4"><img src="assets/images/google_ads.png" class="img-fluid"></div>
          <!-- <app-blog-sidebar></app-blog-sidebar> -->

        </div>
      </div>
