<app-header></app-header>

<main>
  <div class="container-fluid py-4">
    <app-market-stock></app-market-stock>
    <router-outlet></router-outlet>

  </div>
</main>

<app-username-check *ngIf="this.userdetail && userdetail.username == ''"></app-username-check>

<app-login></app-login>

<app-register></app-register>
<footer>
  <div class="container-fluid">
  <div class="footer-top">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <a routerLink="/">
              <img src="assets/images/logo.png">
            </a>
          </div>
        </div>
        <div class="col-lg-9 d-flex justify-content-end align-items-center">
          <div class="social-icon">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="footer-top-menu">
            <ul>
              <li><a href="#">Company News</a></li>
              <li><a href="#">Partnership</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h5>Markets</h5>
          <ul class="uk-list uk-link-text">
            <li><a href="#">Share CFDs</a></li>
            <li><a href="#">Forex</a></li>
            <li><a href="#">Indices</a></li>
            <li><a href="#">Commodities</a></li>
        </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5>TRADING PLATFORMS</h5>
          <ul class="uk-list uk-link-text">
            <li><a href="#">Share CFDs</a></li>
            <li><a href="#">Forex</a></li>
            <li><a href="#">Indices</a></li>
            <li><a href="#">Commodities</a></li>
        </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5>ACCOUNT TYPES</h5>
          <ul class="uk-list uk-link-text">
            <li><a href="#">Share CFDs</a></li>
            <li><a href="#">Forex</a></li>
            <li><a href="#">Indices</a></li>
            <li><a href="#">Commodities</a></li>
        </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5>LEARN TO TRADE</h5>
          <ul class="uk-list uk-link-text">
            <li><a href="#">Share CFDs</a></li>
            <li><a href="#">Forex</a></li>
            <li><a href="#">Indices</a></li>
            <li><a href="#">Commodities</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="copyright-risk">
      <p class="footer-copyright"><span> ©2021 Liquid Inc. All Rights Reserved.</span></p>
      <p class="in-trading-risk">Trading derivatives and leveraged products carries a high level of risk, including the risk of losing substantially more than your initial investment. It is not suitable for everyone. Before you make any decision in relation to a financial product you should obtain and consider our Product Disclosure Statement (PDS) and Financial Services Guide (FSG) available on our website and seek independent advice if necessary</p>
    </div>
  </div>
</footer>